.yellow{background:#fdc43f;height:330px;margin-top:-50px;position: absolute;left:0px;top:0px;width:100%;z-index:-1;}
.yellow img{width:24%;margin-top:140px;margin-left:36%;}
.userbox{margin-top:170px;background:#fff;width:86%;margin-left:7%;border-radius:7px;box-shadow:0px 0px 5px rgba(0,0,0,0.1);}
.userbox input{border-radius:20px !important;padding-left:20px;background:#f5f5f5 !important;}
.am-btn{border-radius:20px !important;background:#8e1f42;border:0 !important;}
.right{text-align:right;}
.link{color:#666;font-size:0.8em;}
.mt15{margin-top:15px;}
legend{border:0px !important;text-align:center;color:#8e1f42;margin-bottom:0px;padding-top:15px;}
.tc{text-align:center;}