.am-control-nav{display:none;}
body{background:#f2f2f2;}
.am-margin-top-15{background:#fff;padding:10px;width:90%;margin-left:5%;margin-top:-40px;border-radius:5px;box-shadow: 0px 3px 3px rgba(0,0,0,0.1);}
.vul{background-color:#fff;}
.vtit{padding-top:10px;padding-left:20px;color:#831c3a;font-weight:bold;}
.guojia{margin-bottom:1em;margin-top:1em;}
.vli{width:100%;height:100px;display:block;background-size:cover;text-align:center;line-height:100px;color:#fff;font-weight:blod;}
.h1{text-align:center;font-size:1.2em;color:#831c3a;}
.vtxt{padding:20px;}
.vtxt img{width:100%;}